/* --- Start Global Rules --- */
* {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: 'Varela Round', 'Arial', 'Helvetica',  sans-serif;
    line-height: 1.5;
    font-size: 15px;
    background-color: #f4f4f4
}


ul {
    list-style: none;
    padding: 0;
    margin: 0
}


a {
    text-decoration: none
}

.overlay {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5)
}

h1, h2, h3, h4, h5, h6 {
    margin: 0
}

.container {
	margin: 0 auto;
    width: 80%;
    overflow: hidden
}

.button {
    height: 40px;
    background-color: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    cursor: pointer
}

.dark {
    padding: 15px;
    background-color: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px
}

/* --- End Global Rules --- */


/*//////////////////////////////////////////////////////////*/


        /* --- Home Page Style --- */


/* --- Start Header --- */

header {
    background-color: #35424a;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 70px;
    border-bottom: 3px solid #e8491d
}

 /* Brand */
header .brand {
    float: left;
    width: 30%
}


 /* Navbar */

header nav {
    float: right;
    width: 70%;
    line-height: 45px;
    text-align: right
}

header nav ul li {
    display: inline-block;
    padding: 0 20px
}

header nav ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    transition: all .2s ease-in-out
}


header .highlight, 
header .active a, 
header a:hover {
    color: #e8491d;
    font-weight: bold
}


/* --- End Header --- */


/*/////////////////////////////*/


/* --- Start ShowCase --- */

#showcase {
	min-height: 500px;
    background-image: url(../images/showcase.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center
}



#showcase h1 {
    position: relative;
    z-index: 2;
    font-size: 50px
    
}


#showcase p {
    position: relative;
    z-index: 2;
    font-size: 20px
}

/* --- End ShowCase --- */


/*/////////////////////////////*/


/* --- Start NewsLetter --- */

#newsletter {
    padding: 15px;
    color: #fff;
    background-color: #35424a
}


#newsletter h2 {
	float: left
}


#newsletter form {
	float: right;
    line-height: 45px;
}


#newsletter form input[type="email"] {
    padding: 4px;
    height: 40px;
    width: 250px;
}


/* --- End NewsLetter --- */


/*/////////////////////////////*/


/* --- Start Boxes --- */

#boxes {
	padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden
}

#boxes .box {
    float: left;
    width: 32%;
    padding: 10px;
    text-align: center
}

#boxes .box:not(:last-of-type) {
    margin-right: 2%
}

#boxes .box img {
    width: 100px
}

#boxes .box h3 {
    margin-top: 10px;
    color: #222
}

#boxes .box p {
    color: #777
}

/* --- End Boxes --- */


/*/////////////////////////////*/


/* --- Start Footer --- */

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #e8491d;
    color: #fff;
    text-align: center
}

/* --- End Footer  --- */


/*//////////////////////////////////////////////////////////*/

        /* --- About Page Style --- */

/* --- Start Main --- */


#main {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px
}


 /* Col */

#main #col {
    float: left;
    width: 65%;
    margin-right: 5%
    
}

#main #col h2 {
    
}

#main #col p {
    
}


 /* Sidebar */

#sidebar {
    float: right;
    width: 30%
}

#sidebar {
    
}

/* --- End Main --- */


/*//////////////////////////////////////////////////////////*/

        /* --- Services Page Style --- */

 /* Artical */

article#col ul.services li{
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #e6e6e6;
}


/*//////////////////*/


 /* Sidebar */

#sidebar {
    margin-top: 5px
}

#sidebar form.quote label {
    margin-top: 15px;
    margin-bottom: 5px
}

#sidebar form.quote label,
#sidebar form.quote input,
#sidebar form.quote textarea
{
    display: block
}

#sidebar form.quote input,
#sidebar form.quote textarea
{
	width: 90%;
    padding: 5px;
}

#sidebar form.quote textarea {
    height: 120px;
    margin-bottom: 15px
}


/*//////////////////////////////////////////////////////////*/

    /* --- Media Queries --- */

@media (max-width: 768px) {
    
    /* Header */
    
    header .brand,
    header nav,
    header nav ul li
    {
        float: none;
        width: 100%;
        text-align: center;
    }
    
    header nav {
        line-height: normal;
        margin-top: 15px;
    }

    header nav ul li {
        display: inline;
        padding: 0 20px;
    }

    header nav ul li a {
        font-size: 15px
    }
    
    
    /* Showcase */
    
    #showcase h1 {
        font-size: 40px
    }
    
    #showcase p {
        font-size: 18px
    }
    
    
    /* NewsLetter */

    #newsletter h2,
    #newsletter form
    {
        float: none;
        width: 100%;
        text-align: center
    }
    
    #newsletter form input[type="email"],
    #newsletter form .button {
        width: 100%
    }
    
    
    /* Boxes */
    
    #boxes .box {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    
    
    /* Main-Col */
    
    #main #col,
    #sidebar {
        float: none;
        width: 100%
    }
    
    
    /* Form-Quote */

    #sidebar form.quote input, #sidebar form.quote textarea, .button {
        width: 100%
    }
}

/*////////////////////////////////////////////////*/

@media (min-width: 769px) and (max-width:1170px) {
    
    /* Header */
    
    header .brand
    {
        float: left;
        width: 40%;
        text-align: left;
        
    }
    
    header .brand h1 {
        font-size: 25px;
    }

    
    
    header nav {
        line-height: 37px;
        margin-top: 0;
        width: 60%;
    }
    
    header nav ul li:last-of-type {
        padding-right: 0
    }

    header nav ul li a {
        font-size: 16px
    }
    
    
    /* Showcase */
    
    #showcase h1 {
        font-size: 45px
    }
    
    #showcase p {
        font-size: 19px
    }
    
    
    /* NewsLetter */

    #newsletter h2
    {
       font-size: 25px;
        float: none;
        width: 100%;
        text-align: center;
        margin-bottom: 10px
    }
    
    #newsletter form {
        float: none;
        line-height: normal;
        width: 50%;
        margin: auto;        
    }
    
    #newsletter form input[type="email"],
    #newsletter form .button {
        width: 100%;
        margin-top: 5px
    }
    
    
    /* Boxes */
    
    #boxes .box {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    
    
    /* Main-Col */
    
    #main #col,
    #sidebar {
        float: none;
        width: 100%
    }
    
    
    /* Form-Quote */

    #sidebar form.quote input, #sidebar form.quote textarea, .button {
        width: 100%
    }
}